Projects/SolucionWCF/ClienteWCF/Service References/ProxyWCF/MiServicioWCF3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicioWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicioWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="NwDataSet.CategoriesDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="NwDataSet.CategoriesDataTable" Namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/NwDataSet.xsd" name="namespace" />
      <xs:attribute fixed="CategoriesDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Categoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCategoria" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categoria" nillable="true" type="tns:Categoria" />
  <xs:complexType name="ArrayOfCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categoria" nillable="true" type="tns:Categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoria" nillable="true" type="tns:ArrayOfCategoria" />
  <xs:element name="NwDataSet.ProductsDataTable" nillable="true">
    <xs:complexType>
      <xs:annotation>
        <xs:appinfo>
          <ActualType Name="NwDataSet.ProductsDataTable" Namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
        </xs:appinfo>
      </xs:annotation>
      <xs:sequence>
        <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
        <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
      </xs:sequence>
      <xs:attribute fixed="http://tempuri.org/NwDataSet.xsd" name="namespace" />
      <xs:attribute fixed="ProductsDataTable" name="tableTypeName" />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CustomerID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="Freight" nillable="true" type="xs:decimal" />
          <xs:element minOccurs="0" name="OrderDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="OrderID" type="xs:int" />
          <xs:element minOccurs="0" name="Order_Details" nillable="true" type="tns:ArrayOfOrder_Detail" />
          <xs:element minOccurs="0" name="RequiredDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ShipAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipCity" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipPostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipRegion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ShipVia" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ShippedDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
  <xs:complexType name="ArrayOfOrder_Detail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order_Detail" nillable="true" type="tns:Order_Detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder_Detail" nillable="true" type="tns:ArrayOfOrder_Detail" />
  <xs:complexType name="Order_Detail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q2:EntityObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Discount" type="xs:float" />
          <xs:element minOccurs="0" name="Order" nillable="true" type="tns:Order" />
          <xs:element minOccurs="0" name="OrderID" type="xs:int" />
          <xs:element minOccurs="0" name="OrderReference" nillable="true" type="q2:EntityReferenceOfOrder2nWnzibl" />
          <xs:element minOccurs="0" name="ProductID" type="xs:int" />
          <xs:element minOccurs="0" name="Quantity" type="xs:short" />
          <xs:element minOccurs="0" name="UnitPrice" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Order_Detail" nillable="true" type="tns:Order_Detail" />
  <xs:complexType name="ClaseErrorGeneral">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="ExcepcionEnServicio" nillable="true" type="q3:InvalidOperationException" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClaseErrorGeneral" nillable="true" type="tns:ClaseErrorGeneral" />
</xs:schema>