Projects/SolucionWCF/ClienteWCF/Service References/ProxyWCF/MiServicioWCF.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiServicioWCF" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd3" namespace="http://tempuri.org/NwDataSet.xsd" />
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServicioWCF" />
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
      <xsd:import schemaLocation="http://localhost:49883/MiServicioWCF.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiServicioWCF_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Fecha_InputMessage">
    <wsdl:part name="parameters" element="tns:Fecha" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Fecha_OutputMessage">
    <wsdl:part name="parameters" element="tns:FechaResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_FechaConTipo_InputMessage">
    <wsdl:part name="parameters" element="tns:FechaConTipo" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_FechaConTipo_OutputMessage">
    <wsdl:part name="parameters" element="tns:FechaConTipoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_NombreCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:NombreCategoria" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_NombreCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:NombreCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Categoria_InputMessage">
    <wsdl:part name="parameters" element="tns:Categoria" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Categoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Categoria2_InputMessage">
    <wsdl:part name="parameters" element="tns:Categoria2" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Categoria2_OutputMessage">
    <wsdl:part name="parameters" element="tns:Categoria2Response" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_CategoriaConectado_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaConectado" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_CategoriaConectado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriaConectadoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Categorias_InputMessage">
    <wsdl:part name="parameters" element="tns:Categorias" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Categorias_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriasResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_CategoriasConectado_InputMessage">
    <wsdl:part name="parameters" element="tns:CategoriasConectado" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_CategoriasConectado_OutputMessage">
    <wsdl:part name="parameters" element="tns:CategoriasConectadoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Productos_InputMessage">
    <wsdl:part name="parameters" element="tns:Productos" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Productos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_ProductosPorCategoria_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductosPorCategoria" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_ProductosPorCategoria_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductosPorCategoriaResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_ClientesConPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:ClientesConPedido" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_ClientesConPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClientesConPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_PedidosPorCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:PedidosPorCliente" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_PedidosPorCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidosPorClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_DetallesPedido_InputMessage">
    <wsdl:part name="parameters" element="tns:DetallesPedido" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_DetallesPedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:DetallesPedidoResponse" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Pedido_InputMessage">
    <wsdl:part name="parameters" element="tns:Pedido" />
  </wsdl:message>
  <wsdl:message name="IMiServicioWCF_Pedido_OutputMessage">
    <wsdl:part name="parameters" element="tns:PedidoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMiServicioWCF">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/GetData" message="tns:IMiServicioWCF_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/GetDataResponse" message="tns:IMiServicioWCF_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fecha">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/Fecha" message="tns:IMiServicioWCF_Fecha_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/FechaResponse" message="tns:IMiServicioWCF_Fecha_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FechaConTipo">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/FechaConTipo" message="tns:IMiServicioWCF_FechaConTipo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/FechaConTipoResponse" message="tns:IMiServicioWCF_FechaConTipo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NombreCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/NombreCategoria" message="tns:IMiServicioWCF_NombreCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/NombreCategoriaResponse" message="tns:IMiServicioWCF_NombreCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Categoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/Categoria" message="tns:IMiServicioWCF_Categoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/CategoriaResponse" message="tns:IMiServicioWCF_Categoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Categoria2">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/Categoria2" message="tns:IMiServicioWCF_Categoria2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/Categoria2Response" message="tns:IMiServicioWCF_Categoria2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoriaConectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/CategoriaConectado" message="tns:IMiServicioWCF_CategoriaConectado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/CategoriaConectadoResponse" message="tns:IMiServicioWCF_CategoriaConectado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/Categorias" message="tns:IMiServicioWCF_Categorias_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/CategoriasResponse" message="tns:IMiServicioWCF_Categorias_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CategoriasConectado">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/CategoriasConectado" message="tns:IMiServicioWCF_CategoriasConectado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/CategoriasConectadoResponse" message="tns:IMiServicioWCF_CategoriasConectado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Productos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/Productos" message="tns:IMiServicioWCF_Productos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/ProductosResponse" message="tns:IMiServicioWCF_Productos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductosPorCategoria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/ProductosPorCategoria" message="tns:IMiServicioWCF_ProductosPorCategoria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/ProductosPorCategoriaResponse" message="tns:IMiServicioWCF_ProductosPorCategoria_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClientesConPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/ClientesConPedido" message="tns:IMiServicioWCF_ClientesConPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/ClientesConPedidoResponse" message="tns:IMiServicioWCF_ClientesConPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PedidosPorCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/PedidosPorCliente" message="tns:IMiServicioWCF_PedidosPorCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/PedidosPorClienteResponse" message="tns:IMiServicioWCF_PedidosPorCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DetallesPedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/DetallesPedido" message="tns:IMiServicioWCF_DetallesPedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/DetallesPedidoResponse" message="tns:IMiServicioWCF_DetallesPedido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pedido">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiServicioWCF/Pedido" message="tns:IMiServicioWCF_Pedido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiServicioWCF/PedidoResponse" message="tns:IMiServicioWCF_Pedido_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMiServicioWCF" type="tns:IMiServicioWCF">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Fecha">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/Fecha" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FechaConTipo">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/FechaConTipo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NombreCategoria">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/NombreCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categoria">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/Categoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categoria2">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/Categoria2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoriaConectado">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/CategoriaConectado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Categorias">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/Categorias" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CategoriasConectado">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/CategoriasConectado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Productos">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/Productos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ProductosPorCategoria">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/ProductosPorCategoria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClientesConPedido">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/ClientesConPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PedidosPorCliente">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/PedidosPorCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DetallesPedido">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/DetallesPedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Pedido">
      <soap:operation soapAction="http://tempuri.org/IMiServicioWCF/Pedido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiServicioWCF">
    <wsdl:port name="BasicHttpBinding_IMiServicioWCF" binding="tns:BasicHttpBinding_IMiServicioWCF">
      <soap:address location="http://localhost:49883/MiServicioWCF.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>